/* -------------- Fonts --------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* all button style */
.button-active-color {
  background-color: #e12555;
}
.button-hover-color {
  background-color: #233746;
}

/* some text custom color style */
.text-custom-primary {
  color: #e12555;
}
.text-custom-secondary {
  color: #233746;
}

/* some bg and text opacity control style */
.bgColor-opacity {
  background-color: #ffd9db;
}
.txColor-opacity {
  color: #ffd9db;
}

/* service and service details styles here */
.service-provider-bg {
  background-color: #e6f1f7;
}

.simple-white-bg {
  background-color: #e8e8e8;
}

.work-bg {
  background-color: #f1f1f1;
}

.work-title:hover {
  color: #e12555;
}

.work-card {
  border-bottom: 3px solid #e12555;
  border-radius: 5px;
}

#home {
  overflow-x: hidden;
}

/* footer styles */
.footer-bg {
  background-color: #0e3340;
}
.footer-ul {
  color: lightgray;
}
.footer-ul li {
  list-style-type: none;
}

@media only screen and (max-width: 668px) {
  .footer-copyright-text {
    font-size: 16px;
  }
}
